:root {
  font-family: 'DM Serif Text', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: whitesmoke;

  background-color: #363636;
  background-image: linear-gradient(#505050, #101010);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin-left: 4vw;
  margin-right: 4vw;
  font-size: 2vw;
}

.large {
  font-size: 2.4vw;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120vh;
  width: 100%;
  position: relative;
  border-style: solid;
  border-width: 1px;
}

.leftHeader {
  width: 40vw;
}

.rightHeader {
  text-align: right;
  position: absolute;
  right: 0;
  width: 30vw;
}

.headerContainer {
  height: 10vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

#logo {
  width: 3vw;
  margin-top: 1vw;
  margin-left: 2vw;
}

#overviewContainer {
  margin-top: -10vh;
  height: 100vh;
}

#overviewHeader {
  z-index: 1;
  top: calc(50% - 30vh);
}

.overviewImage img {
  position: absolute;
  height: 60vh;
  top: calc(50% - 30vh);
  right: 0;
}

#trueFocusContainer {
  width: 40vw;
  top: calc(50% - 30vh);
}

#taglineContainer {
  height: 90vh;
}
#taglineDescription {
  margin-top: 2vh;
  font-size: 2vw;
}

.taglineImage img {
  position: absolute;
  height: 60vh;
  top: calc(50% - 30vh);
  right: 0;
  border-radius: 1vw;
}

#capabilitiesContainer {
  flex-direction: column;
  align-items: start;
  height: 150vh;
  height: fit-content;
}

.capabilitiesColumnContainer {
  margin-left: -4vw;
  margin-right: -4vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: fit-content;
}

.capabilitiesColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 26vw;
  height: 80vw;
}

.column1 {
  margin-top: -5vw;
}

.column3 {
  margin-top: 5vw;
}

.capabilitiesCard {
  width: 22vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: #b76b27;
  background-color: #707070;
  border-radius: 1vw;
}

.capabilitiesCardImage {
  width: 100%;
  height: 15vw;
  border-radius: 1vw;
  background-color: white;
}

#pricingContainer {
  flex-direction: column;
  align-items: start;
  height: 100vh;
}

.pricingCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.pricingText {
  text-align: center;
}


/* .gatheringIcons {
  width: 15vw;
  height: auto;
}