:root {
  font-family: 'DM Serif Text', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 2.4vw;
  color: whitesmoke;

  background-color: #363636;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 4vw;
  margin-right: 4vw;
}

.leftHeader {
  position: absolute;
  top: calc(50% - 30vh);
  width: 40vw;
}

.headerContainer {
  height: 10vh;
  width: 92vw;
}

#logo {
  width: 3vw;
  margin-left: -3vw;
  margin-top: 1vw;
}

#overviewContainer {
  margin-top: -20vh;
}

.overviewImage img {
  position: absolute;
  height: 60vh;
  top: calc(50% - 30vh);
  right: 0;
  z-index: -1;
}

.gatheringContainer {
  display: flex;
  flex-direction: row;
  height: 120vh;
  align-items: center;
}

.gatheringTitle {
  position: absolute;
  right: 0;
  width: 30vw;
}

.gatheringIcons {
  width: 15vw;
  height: auto;
}

.sectionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120vh;
  width: 92vw;
  position: relative;
}

.analysisTitle {
  position: absolute;
  width: 40vw;
  top: 30.2vw
}

.letterGlitchContainer {
  width: 35vw;
  height: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6vw;
  top: 20vw;
}

.letterGlitch {
  position: absolute;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  border-style: solid;
  overflow: hidden;
}

.microchip {
  width: 35vw;
  position: absolute;
  right: 6vw;
  top: 20vw;
}